{% extends 'base.html' %}

{% block content %}
<div>
<div id="londonBlock">
  <div id="london"></div>
  <div id="navbar">
    {% include 'navbar.html' %}
  </div>
  <div class="titleText">
      <h1>The Investor Helper</h1>
      <p>The smart tool that can help you to choose the right investments to acheive safe
        long-term growth</p>
      <p>
        <div class="buttons">
          <a id="begin" href="risk">LET'S BEGIN</a>
          <a id="how" href="about">HOW IT WORKS</a>
        </div>
      </p>
  </div>
  </div>
</div>
{% endblock %}
